/* screen - iphone-8-plus-1 */

.iphone-8-plus-1 {
  align-items: flex-start;
  background-color: #f35a91;
  border: 1px none;
  display: flex;
  height: 736px;
  padding: 223px 89px;
  width: 414px;
}

.iphone-8-plus-1 .group-1.animate-enter1 {
  animation: animate-enter1-frames 0.30s ease-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(0.9);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.iphone-8-plus-1 .overlap-group {
  height: 230px;
  position: relative;
  width: 231px;
}

.iphone-8-plus-1 .text-3 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: conic-gradient(from 180deg at 50% 50%, rgb(74, 220, 254) 0deg, rgb(169, 101, 253) 82.5deg, rgb(243, 90, 145) 161.25deg, rgb(254, 214, 79) 236.25deg, rgb(170, 101, 253) 298.12deg, rgb(74, 221, 253) 360deg);
  background-clip: text;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 177px;
}
