/* screen - startview */

.startview {
  align-items: center;
  background: linear-gradient(180deg, rgba(254, 214, 79, 0.5) 0%, rgba(170, 101, 253, 0.5) 41.15%, rgba(243, 90, 145, 0.5) 68.75%, rgba(74, 220, 254, 0.5) 97.4%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 743px;
  overflow: hidden;
  padding: 7px 0;
  width: 430px;
}

.startview .logo_bg-removebg-preview-2 {
  height: 48px;
  object-fit: cover;
  position: relative;
  width: 55px;
}

.startview .line-1 {
  height: 1px;
  width: 387px;
}

.startview .text-2 {
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 238px;
  white-space: nowrap;
  width: 288px;
}

.startview .overlap-group {
  height: 110px;
  position: relative;
  width: 355px;
}
