/* screen - audiopage */

.audiopage {
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(254, 214, 79, 0.5) 0%, rgba(170, 101, 253, 0.5) 41.15%, rgba(243, 90, 145, 0.5) 68.75%, rgba(74, 220, 254, 0.5) 97.4%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  gap: 17px;
  height: 743px;
  padding: 7px 14px;
  width: 430px;
}

.audiopage .logo_bg-removebg-preview-2 {
  cursor: pointer;
  height: 48px;
  object-fit: cover;
  position: relative;
  width: 55px;
}

.audiopage .line-1 {
  height: 8px;
  left: 4px;
  position: absolute;
  top: 52px;
  width: 395px;
}

.audiopage .image-5:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
