@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6407166de475213707b4c4b0.6407166e8f7961daf62ed10a.TXJJqBP.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.ellipse-1 {
  background-color: #fffbfb;
  border-radius: 115.5px/112px;
  height: 224px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 231px;
}

.frame-1 {
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
}

.image {
  height: 29px;
  object-fit: cover;
  position: relative;
  width: 28px;
}

.frame {
  align-items: center;
  display: inline-flex;
  position: relative;
}