:root { 
  --black: #000000;
  --white: #ffffffb5;
  --white-2: #ffffff;
  --white-3: #ffffff3d;
 
  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-xl: 15px;
  --font-size-xxl: 16px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 24px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-20px {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-15px-2 {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
